/* PÁGINA DEL CURSO DE HTML //////////////////////////////*/

.Curso {
	display: flex;
	flex-wrap: wrap;
	background-color: whitesmoke;
	color: #333;
	padding-top: 1rem;
	padding-bottom: 1rem;
	justify-content: space-around;
	/* align-content: flex-start; */
	align-items: flex-start;
}

.Curso__colum-1 {
	width: 45%;
}
.Curso__colum-2 {
	width: 45%;
}

@media (max-width: 800px) {
	.Curso__colum-1 {
		width: 95%;
		margin-bottom: 3rem;
	}
	.Curso__colum-2 {
		width: 95%;
	}
}	

/* .Info {
	width: 45%;
} */

.Info h1 {
	margin-bottom: 1rem;
	color: #1584d5;
	border-bottom: 2px solid #ccc;
	padding-bottom: .5rem;
}

.Info__general {
	font-size: 1.1rem;
}

.Info__general li {
	margin-bottom: .5rem;
}

.Info__box {
	/* width: max-content; */
	width: 100%;
	font-size: 1.2rem;
	
	background-color: #e6e6e6;
	border-radius: 10px;
	padding: .5rem 0;
	margin-top: 2rem;
	/* color: #1584d5; */
	color: #e6e6e6;
	font-weight: 500;
	box-shadow: 0 8px 6px -6px grey;
	/* box-sizing: border-box; */
}

.Info__box ul {
	width: 100%;
	/* width: max-content; */
	margin-left: auto;
	margin-right: auto;
}

.Info__box li {
	margin-bottom: .5rem;
	margin-top: .5rem;
	background-color: #1584d5;
	padding-left: 20%;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.Info__bullet {
	font-size: 1.2rem;
}

.Video {
	margin-bottom: 3rem;
}

.Edicion h3 {
	font-size: 2.2rem;
	/* border-bottom: 5px solid #ec5252; */
	/* padding-bottom: .5rem; */
}
.Edicion p{
	font-size: 1.5rem;
}
.Edicion__fechas {
	font-size: 2rem;
	/* font-weight: 500; */
	color: #1584d5;
	/* padding-bottom: .5rem; */
	/* border-bottom: 2px solid #1584d5; */
}


.Edicion h2 {
	font-size: 2.2rem;
	font-weight: 600;
	color: #ec5252;
	margin-top: .5em;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #ec5252;

}

.Programa {
	/* width: 45%; */
	/* width: 90%; */
	margin-top: 4rem;
	margin-left: auto;
	margin-right: auto;
}

.Programa h3 {
	color: #1584d5;
	font-size: 1.5rem;
	margin-bottom: 1.2rem;
	border-bottom: 2px solid #ccc;
	padding-bottom: .3rem;
}

.Programa__button {
	background-color: #ccc;
	color: #666;
	cursor: pointer;
	padding: .3rem .5rem;
	/* width: 90%; */
	outline: none;
	font-size: 1.2rem;
	transition: 0.4s;
}

.Programa__button.activado, .Programa__button:hover {
	background-color: #999;
	color: #333;
}

.Programa__button:after {
	content: '\002B';
	color: #333;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.Programa__button.activado:after {
	content: "\2212";
}

.Programa__contenido {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	/* width: 90%; */
	margin-left: .5rem;
	padding-bottom: .2rem;
}

.Programa__contenido li {
	border-bottom: 1px solid grey;
	margin-top: .5rem;
}

/* responsive */

.Curso__video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	/* width: 45vw; */
}

.Curso__video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.Pago {
	width: 100%;
}

.Pago__medio {
	margin-top: 2rem;
	margin-bottom: 2rem;
	/* display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 150px; */
}
.Pago__medio h3 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
	text-align: center;
	background-color: #1584d5;
	color: whitesmoke;
}
.Pago__medio p {
	margin-bottom: 1rem;
	font-size: 1.2rem;
}
.Pago__medio a{
	color: black;
	/* color: whitesmoke; */
	font-weight: 500;
	text-decoration: underline;
	/* background-color: green; */
	padding: .1rem;
	border-radius: 3px;
}

.Pago__medio a:hover{
	background-color: #333;
	color: whitesmoke;
}

.Pago__medio span {
	font-weight: 500;
}

.Pago__box {
	/* font-size: 1.2rem; */
	/* background-color: #e6e6e6; */
	/* border-radius: 10px; */
	/* padding: .5rem 8rem; */
	/* margin-top: 2rem; */
	/* color: #1584d5; */
	/* font-weight: 500; */
	/* box-shadow: 0 8px 6px -6px grey; */
}

.Pago__box {
	width: 80%;
	color: #666;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	padding: 1rem;
	border-radius: 5px;
	margin-bottom: 3rem;
}

.Pago__box h3 {
	text-align: center;
	font-size: 2.5rem;

	/* color: #666 */
}

.Pago__box figure {
	border-bottom: 3px solid #666;
	padding-bottom: .5rem;
	margin-bottom: .5rem;

}

.Pago__box del {
	font-size: 1.5rem;
}

.Pago__box h4 {
	text-align: center;
	background-color: #1584d5;
	color: whitesmoke;
	padding: 3px 5px;
}

.Pago__boton {
	margin-top: 1rem;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.Pago__boton a {
	text-align: center;
	display: block;
	color: whitesmoke;
	/* width: 90%; */
	background-color: #ec5252;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1.2rem;
}

.Pago__boton a:hover {
	background-color: #992337;
	cursor: pointer;
}

.Pago__boton small {
	font-size: 60%;
}

/* CHECKBOX */

.Pago__descuentos h5 {
	margin-top: 1.5rem;
	padding-top: .2rem;
	border-top: 1px solid #1584d5;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	color: #1584d5;
	background-color: whitesmoke;
}

.Pago_boxcheck {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: .5rem;
	cursor: pointer;
	font-size: 1rem;

}

.Pago_boxcheck input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.Pago__checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #eee;
	border: 1px solid #1584d5;
	border-radius: 3px;
}

.Pago_boxcheck:hover input~.Pago__checkmark {
	background-color: #ccc;
}

.Pago_boxcheck input:checked~.Pago__checkmark {
	background-color: #2196F3;
}

.Pago__checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */

.Pago_boxcheck input:checked~.Pago__checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */

.Pago_boxcheck .Pago__checkmark:after {
	left: 5px;
	/* top: 5px; */
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

/* .Pago__boton1,
.Pago__boton2,
.Pago__boton3,
.Pago__boton4 {
	display: none;
} */


.Pago__boton-desc {
	margin-top: .7rem;
	font-size: 1rem;
	background-color: #999;
	padding: .5rem 1rem;
	border-radius: 3px;
	border: 0;
	cursor: pointer;
}

.Pago__boton-desc:hover {
	color: whitesmoke;
}

.Pago__precio {
	margin-left: .5rem;
	font-size: 1.2rem;
}

.newClassName {
	display: block;
}