/* 
HEADERR 
MAINN
ASIDEE
/* FOOTER */


/* RESET  - resetea los estilos por defecto del navegador */

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, em, img,
small, strike, strong, sub, sup, center, ul, li,
fieldset, form, label, article, aside,
figure, figcaption, footer, header,
menu, nav, section, audio, video {
  	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline; /* "baseline" El elemento está alineado con la línea base del padre */
	/* box-sizing: content-box; */
}

html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: whitesmoke;
	background-color: #091c3b;

}

figcaption {
	font-style: italic;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

main, img{
	display: block;
}

.button, a, a:focus {
	outline:none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}


/* HEADERR */

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #091c3b; */
    /* background-color: #060e23; */
    padding: .5rem 1rem;
	max-width: 100vw;
}

.Header a {
    color: whitesmoke;
}

.Header__menu {
	display: flex;
}

.Header__menu-li {
    margin-left: 3rem;
}

.Header__menu-a:hover {
	color: #78fee9;
	transition: 0.3s ease;
}

.Header__open-submenu {
	position: relative;
}

.Header__open-submenu:hover .Header__submenu {
	height: 140px;
	/* border-top: 1px solid #78fee9; */
	border-bottom: 1px solid #78fee9;
	/* display: block; */
	/* transition: 0.3s ease; */
}

.Header__submenu {
	/* display: none; */
	border-left: 1px solid #78fee9;
	border-right: 1px solid #78fee9;
	transition: 0.3s ease;
	height: 0;
	overflow: hidden;
	position: absolute;
	background-color: #091c3b;
	border-radius: 3px;
	top: 1.2rem;
	left: -1.5rem;
	box-sizing: border-box;
	z-index: 2;

	
}

.Header__submenu-li {
	padding: .5rem;
	text-align: center;
}

.Header__submenu-a:hover {
	color: #78fee9;
	/* transition: 0.3s ease; */
}

/* quita comportamiento del link */
/* .Header__open-submenu > a {
		pointer-events: none;
		cursor: default;
} */

/* MAIN */

.MainIndex {
	width: 70%;
	display: inline-block;
	vertical-align: top;
}



/* SLIDER ////////////////////////////////////////*/

.Slides {
	position: relative;
	overflow: hidden;
	background-color: #060e23;
	/* background-color: #091c3b; */
	/* color: whitesmoke; */
}

.Slides__prev, .Slides__next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	padding: 16px;
	color: #78fee9;
	font-weight: bold;
	font-size: 1.5rem;
	transition: 0.6s ease;
}

.Slides__prev:hover, .Slides__next:hover {
	opacity: .5;
}

.Slides__next {
	right: 0;
}

.Slides__slide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
	margin: .5rem;
}

.Slides__header h2 {
	font-weight: 400;
	font-size: 2.5rem;
}

.Slides__header h2 span {
	color: #78fee9;
	/* font-style: oblique; */
	/* font-weight: 500; */
	margin-left: 1rem;
	font-size: 2rem;
}

.Slides__body {
	align-self: center;
}

.Slides__body h3 {
	font-size: 4rem;
	font-weight: 100;
	color: #0f86f7;
}

.Slides__body span{
	font-size: 2.5rem;
	margin-left: 1rem;
}

.Slides__footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: flex-end;
}


.Slides__footer h4{
	font-size: 1.5rem;
	font-weight: 300;
	margin-right: .5rem;
}

.Slides__footer a{
	/* font-size: 1rem; */
	font-weight: 500;
	border-radius: 3px;
	border: 2px solid #78fee9;
	color: whitesmoke;
	margin-left: 1rem;
	padding: .5rem;
	transition: 0.3s ease;
}

.Slides__footer a:hover{
	background-color: #78fee9;
	color: 	black;
}


/* Slide 2 /////////////////////////////////*/


.Slides--2
.Slides__body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 90%;
	height: 80%;
}

.Slides__body article {
	display: flex;
	align-items: center;
	width: 300px;
}

.Slides__body article:nth-child(2) {
	align-self: flex-end
}

.Slides__body h2 {
	color: #78fee9;
	font-weight: 400;
	font-size: 2rem;
}

.Slides__body p {
	/* font-size: 1rem; */
	font-weight: 300;
}

.Slides__body img {
	margin-right: .5rem;
}

.Slides--2 
.Slides__footer a{
	border: 2px solid #0f86f7;
}

.Slides--2 
.Slides__footer a:hover{
	background-color: #0f86f7;
}

/* SLIDE 3 */

.Slides--3 
article > h2{
	color: whitesmoke;
	font-weight: 500;
	font-size: 3.5rem;
	margin-right: .5rem;
}

.Slides--3 
.Slides__body {
	margin-top: 1.7rem;
}

/* VER TRANSICIONES!!!!!, PODEMOS CONSSEGUIR EL MISMO EFECTO CON TRANSOTION: EASE...???????? */
/* VER TRANSICIONES!!!!!, PODEMOS CONSSEGUIR EL MISMO EFECTO CON TRANSOTION: EASE...???????? */

.Slide__js {
	animation-name: Slide__js;
	animation-duration: 2s;
}



@keyframes Slide__js {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}


/* DESCRIPTION */

.Description {
	/* border-top: 1px solid white; */
	padding-top: 6rem;
	padding-bottom: 6rem;
	/* background-color: #060e23; */
	/* background-color: #091c3b; */
}

.Description article{
	width: 600px;
	margin: auto;
}

.Description h2 {
	font-size: 3rem;
	font-weight: 400;
}

.Description h3 {
	font-size: 3rem;
	font-weight: 400;
	color: #78fee9;
}
.Description p {
	margin-top: 2rem;
	font-size: 1.5rem;
	font-weight: 100;
	font-style: italic;

}

/* FEATURES */

.Features {
	display: flex;
	justify-content: space-around;
	background-color: #060e23;
	/* background-color: #091c3b; */
	/* margin-bottom: .4rem; */
	padding-bottom: 7rem;
	padding-top: 6rem;
	text-align: center;
}

.Features__article {
	width: 25%;
}

.Features__article h4 {
	font-size: 1.7rem;
	/* background-color: #8019df; */
	/* background-color: #fc6c7c; */
	border: 1px solid #78fee9;
	/* border: 1px solid #0f86f7; */
	border-radius: 3px;
	margin-top: 2rem;
	font-weight: 300;
	margin-bottom: 1rem;
	/* color: white; */
	/* border-radius: 20px; */
	/* color: #1b98ec */
}

.Features__article p {	
	font-size: 1.5rem;
	font-weight: 100;
	/* text-align: justify; */

	/* color: #1b98ec */
}

.Features [class^="ico"] {
	color: #78fee9;
	font-size: 2.5rem;
	
}

/* Articulos__ //////////////////////////////*/

.Articulos{
	background-color: #091c3b;
	padding-top: 3rem;
	padding-bottom: auto;
}

.Articulos__title{
	font-size: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	font-weight: 300;
	border-bottom: 4px solid #0f86f7;
}

.Articulos__links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 3rem 1rem;
}

.Articulos article{
	width: 280px;
	position: relative;
	border: 1px solid #0f86f7;
}


.Articulos img{
	max-width: 100%;
	opacity: .8;
	/* transition: .9s ease; */
}

.Articulos__links h3{
	top: 5%;
	position:absolute;
	color: whitesmoke;
	padding: .5rem;
	background-color: #0f86f7;
	font-weight: 400;
	/* color: #0f86f7; */
}


.Articulos__layerHover{ /* azul claro al hacer hover*/
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	transition: .5s ease;
}

.Articulos__layerHover:hover{
	background-color: #091c3b;
	opacity: .9;
}

.Articulos__texto{
	margin-left: 1rem;
	opacity: 0;
	transition: 1.5s ease;
}

.Articulos__layerHover:hover .Articulos__texto{
	opacity: 1;
	margin-top: 2rem;
}

.Articulos__button{
	text-align: center;
	border:  1px solid #78fee9;
	position: absolute;
	bottom: 5%;
	color: white;
	font-size: 1.2rem;
	padding: .4rem 0;
	right: 25%;
	width: 50%;
	transition: .3s ease;
}

.Articulos__button:hover {
	background-color: #78fee9;
	color: #121212;
}

.Articulos__texto p{
	font-weight: 100;
	margin-bottom: .2rem;
}

.Articulos__texto P:nth-last-child(-n+3) {
	color: #78fee9;
	font-weight: 500;
}

.Articulos__texto P:first-child {
	font-size: 1.5rem;
	font-weight: 500;
}




.Articulos--blog
.Articulos__title {
	border-bottom: 4px solid #78fee9;
}

.Articulos--blog
.Articulos article{
	border: 1px solid #78fee9;
}

.Articulos--blog 
.Articulos__links h3{
	background-color: #78fee9;
	color: #060e23;
}

.Articulos--blog
.Articulos__button{
	border:  1px solid #0f86f7;
}

.Articulos--blog
.Articulos__button:hover {
	background-color: #0f86f7;
	color: #121212;
}


/* ASIDEE */

.Aside {
	/* background-color: #091c3b; */
	width: 29%;
	display: inline-block;
}



/* TABSS */

.Tabs__header {
	display: flex;
	overflow: hidden;
    background-color: #091c3b;
	cursor: pointer;
}

/* pestañas: */
.Tabs__tab {
	border: 1px solid #0f86f7;
	color: #0f86f7;
	font-size: 1.1rem;
	margin-left: 3px;
	padding: .5rem 0;
	text-align: center;
	transition: 0.3s;
	width: 33%;
}

.Tabs__tab:hover, .active {
	background-color: #0f86f7;
	color: #060e23;
}

/* contenido */
.Tabs__tab-content {
	position: relative;
    padding: 1.5rem 1rem;
	background-color: #091c3b;
	height: 200px;
}

.Tabs__tab-content h2 {
	margin-bottom: 1.5rem;
}

.Tabs__tab-content li {
	margin: .5rem;
}

.Tabs__button {
	position: absolute;
	bottom: 2.7rem;
	right: .5rem;
}



/* ACCORDION ///////////////////////////////////////*/

.Acordeon {
	/* margin-top: 8rem; */
	padding-top: 1rem;
	/* border-top: 1px solid black */
}

.Acordeon h2{
	/* border-bottom: 1px solid #f2f2f2; */
	/* margin-left: 1rem; */
	/* padding-bottom: .5rem; */
	margin-bottom: .5rem;
	font-weight: 400;
	/* background-color: #0f86f7; */
	/* background-color: #78fee9; */
	color: #0f86f7;
	/* color: #060e23; */
}

.Acordeon img {
	float: left;
	margin-right: .5rem;
}

.Acordeon p {
	margin-top: 1.5rem;
}

.Acordeon-button {
    /* background-color: #fff; */
    background-color: #060e23;
	/* color: #0f86f7; */
	color: #78fee9;
	border: 1px solid #78fee9;
    /* color: #00bdff; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    /* border: 1px solid #00bdff; */
    /* border-top: 0; */
    /* border-left: 0; */
    /* border-right: 0; */
    /* border-bottom: 1px solid #f2f2f2; */
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.Acordeon-button.activo, .Acordeon-button:hover {
    /* background-color: #e8f4f9; */
	/* color: #3b94d9; */
	color: #0f86f7;
	border: 1px solid #0f86f7;

	
}

.Acordeon-button:after {
    content: '\002B';
    color: #00bdff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.Acordeon-button.activo:after {
    content: "\2212";
}

div.contenido {
    padding: 0 18px;
    /* background-color: white; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* FOOTER  */

.Footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: whitesmoke;
	/* color: #999; */
	padding: 2.5rem .5rem;
}

.Footer nav ul{
	display: flex;
	justify-content: space-around;
}

.Footer a {
	color: #0f86f7;
	text-decoration: underline;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 1rem;

}	

.Footer-social {
	font-size: 2rem;
}

.Footer-social span {
	margin-right: 1rem;
}


/* BUTTONS */

.button {
	font-weight: 500;
	border-radius: 3px;
	border: 2px solid #78fee9;
	color: whitesmoke;
	margin-left: 1rem;
	padding: .5rem;
	transition: 0.3s ease;
}

.button:hover{
	background-color: #78fee9;
	color: 	black;
}

.button--blue {
	border: 2px solid #0f86f7;
}

.button--blue:hover{
	background-color: #0f86f7;
}







/* ICONOS */

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?zi0881');
	src:  url('../fonts/icomoon.eot?zi0881#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?zi0881') format('truetype'),
	  url('../fonts/icomoon.woff?zi0881') format('woff'),
	  url('../fonts/icomoon.svg?zi0881#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 1.5rem;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  .icon-hbs:before {
	content: "\e90c";
	color: orange;
  }
  .icon-css3:before {
	content: "\e904";
	color: #1572b6;
  }
  .icon-mongodb:before {
	content: "\e90a";
	color: #47a248;
  }
  .icon-node-dot-js:before {
	content: "\e90b";
	color: #393;
  }
  .icon-sass:before {
	content: "\e908";
	color: #c69;
  }
  .icon-webpack:before {
	content: "\e909";
	color: #8dd6f9;
  }
  .icon-html5:before {
	content: "\e901";
	color: #e34f26;
  }
  .icon-javascript:before {
	content: "\e902";
	color: #f7df1e;
  }
  .icon-facebook:before {
	content: "\e900";
	color: #1877f2;
  }
  .icon-github:before {
	content: "\e906";
  }
  .icon-instagram:before {
	content: "\e907";
	color: #e4405f;
  }
  .icon-twitter:before {
	content: "\e903";
	color: #1da1f2;
  }
  .icon-pencil:before {
	content: "\e905";
  }
  .icon-folder-open:before {
	content: "\e930";
  }
  .icon-users:before {
	content: "\e972";
  }
  .icon-clipboard:before {
	content: "\e9b8";
  }



  
  
  /* COLORS */
  .green {
	  color: #78fee9;
	}
	
	.blue {
		color: #0f86f7;
		font-weight: ;
	}
	
	/* WEIGHTS */
	
	.w100 {
		font-weight: 100;
	}
	.w300 {
		font-weight: 300;
	}
	.w400 {
		font-weight: 400;
	}
	.w500 {
		font-weight: 500;
	}
	
	
	
	
	
	
	/* .testeo{
		position: absolute;
		bottom: 2.7rem;
		right: .5rem;
		cursor: pointer;
		
		font-weight: 500;
		border-radius: 3px;
		border: 2px solid #0f86f7;
		color: whitesmoke;
		margin-left: 1rem;
		padding: .5rem;
		transition: 0.3s ease;
	}
	
	.testeo:hover{
		background-color: #0f86f7;
		color: 	black;
	} */

.colores {
		color: #060e23; /* background header */
		color: #0f86f7;
		color: #78fee9;
		color: #091c3b; /* background SLIDES (claro)*/
}