form {
    margin-bottom: 3rem;
    width: 40vw;
}
@media (max-width: 800px){ 
    main {
        text-align: center;
    }
   section {
       width: 90vw;
   }

   form {
       width: 90vw;
   }

   
}